asn1crypto==0.22.0
backports.ssl==0.0.9
beautifulsoup4==4.6.0
bleach==1.5.0
certifi==2018.8.24
cffi==1.10.0
ChatterBot==0.7.0
chatterbot-corpus==1.0.0
click==6.7
click-plugins==1.0.3
cligj==0.4.0
colorama==0.3.9
cryptography==1.8.1
cycler==0.10.0
Cython==0.28.1
decorator==4.2.1
descartes==1.1.0
Django==1.11.7
ecdsa==0.13
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
Fiona==1.7.13
Flask==0.12.2
future==0.16.0
fuzzyfinder==1.0.0
gaft==0.5.4
geopandas==0.4.0
hmmlearn==0.2.0
html5lib==0.9999999
HTMLParser==0.0.2
idna==2.5
IMAPClient==1.0.2
ipykernel==4.9.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.4.0
itchat==1.3.6
itsdangerous==0.24
jdcal==1.3
jedi==0.11.1
Jinja2==2.10
jsondatabase==0.1.7
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kaggle==1.4.7.1
Keras==2.0.4
lightgbm==2.1.2
lxml==3.7.3
Markdown==2.2.0
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.8.3
mizani==0.4.6
mock==1.3.0
mpi4py==3.0.0
munch==2.3.2
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.2.4
notebook==5.6.0
numpy==1.13.3+mkl
oauthlib==2.0.2
olefile==0.44
openpyxl==2.4.7
packaging==16.8
palettable==3.1.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.1.1
patsy==0.5.0
pbr==3.0.0
pickleshare==0.7.4
Pillow==4.1.1
plotnine==0.4.0
prometheus-client==0.3.1
prompt-toolkit==1.0.14
protobuf==3.3.0
PyAutoGUI==0.9.36
pycparser==2.17
pydotplus==2.0.2
pyfpgrowth==1.0
Pygments==2.2.0
PyJWT==1.5.0
pymongo==3.4.0
PyMsgBox==1.0.6
pyOpenSSL==17.0.0
pyparsing==2.2.0
PyPDF2==1.26.0
pyperclip==1.6.0
pypng==0.0.18
pyproj==1.9.5.1
PyQRCode==1.2.1
PyScreeze==0.1.9
PySocks==1.6.7
python-dateutil==2.6.0
python-docx==0.8.6
python-slugify==1.2.5
python-twitter==3.3
PyTweening==1.0.3
pytz==2017.2
pywinpty==0.5.4
PyYAML==3.12
pyzmq==17.1.2
qtconsole==4.4.1
requests==2.14.2
requests-oauthlib==0.8.0
ruamel.yaml==0.15.0
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
selenium==3.4.1
Send2Trash==1.3.0
Shapely==1.6.4.post1
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
sklearn-pandas==1.7.0
SQLAlchemy==1.1.11
sqlitedict==1.5.0
statsmodels==0.9.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc2
terminado==0.8.1
testpath==0.3.1
Theano==0.9.0
tomd==0.1.2
tornado==5.1
tqdm==4.25.0
traitlets==4.3.2
twilio==6.1.2
Unidecode==1.0.22
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.12.1
widgetsnbextension==3.4.0
win-unicode-console==0.5
xgboost==0.80
